# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Tax Fraud.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Amkam\Desktop\Tax Fraud\Tax Fraud\.idea\.idea.Tax Fraud\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
